.vs/Matrix Calculator/FileContentIndex
.vs/Matrix Calculator/v17/ipch
.vs/Matrix Calculator/v17/Browse.VC.db
.vs/Matrix Calculator/v17/Browse.VC.db-shm
.vs/Matrix Calculator/v17/Browse.VC.db-wal
.vs/Matrix Calculator/v17/Browse.VC.opendb
Matrix Calculator/bin
Matrix Calculator/intermediate
